.learn-more a {
    color: #d4ab2f;
    font-style: initial;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    padding: 3px 20px;
    text-decoration: none;

    
}
.block1, .block2, .block3, .block4 {
    flex-basis: 34%;
}


.learn-more a:hover {
    color: black;
    background-color: #d4ab2f;
}

.productActive {
    background-color:#d4ab2f;
    position: absolute;
    left: 30.8rem;
    top: 130px;
    width: 80px;
    height: 3px;
}

.right-side {
    display: flex;
    position: relative;
    right: 30px;
    left: 5%;
    top: 30px;
    width: 48%;
    flex-wrap: wrap;
    
    
}

.left-side {
    float: left;
    width: 40%;
    margin: 2% 0 0 7%;
}

.right-side .block {
    border: 1px solid;
    padding: 20px 10px 15px 15px;
    border-radius: 50px;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #ffecd7 100%);}


.right-side h1 {
    font-size: 1.5rem;
}

.right-side i {
    font-size: 40px;
}

.right-side a {
    color: #d4ab2f;
    margin-left: 10px;
}
.block1 {
    margin-bottom: 4%;
}

.block2 {
    margin-left: 7%;
    margin-bottom: 4%;
}

.block4 {
    margin-left: 7%;
}

footer {
    position:fixed ;
    bottom: 0;
}